###  4.6 Combining & Exporting Data

In [1]:
import pandas as pd
import numpy as np
import os

In [52]:
project_path = r'C:\Users\cneva\06-2024 Instacart Basket Analysis'


df_prod = pd.read_csv(os.path.join(project_path, '02 Data', 'Prepared Data', 'products_clean.csv'), index_col = 0)
df_ords = pd.read_csv(os.path.join(project_path, '02 Data', 'Prepared Data', 'orders_clean.csv'), index_col = 0)
df_dep = pd.read_csv(os.path.join(project_path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = 0)
df_ords_prior = pd.read_csv(os.path.join(project_path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = 0)

In [54]:
df_ords_prior.head()

          product_id  add_to_cart_order  reordered
order_id
2              33120                  1          1
2              28985                  2          1
2               9327                  3          0
2              45918                  4          1
2              30035                  5          0

In [56]:
df_ords_prior.shape

(32434489, 3)

In [60]:
df_ords_prior['reordered'].value_counts()

reordered
1    19126536
0    13307953
Name: count, dtype: int64

In [62]:
df_ords_prior.describe()

         product_id  add_to_cart_order     reordered
count  3.243449e+07       3.243449e+07  3.243449e+07
mean   2.557634e+04       8.351076e+00  5.896975e-01
std    1.409669e+04       7.126671e+00  4.918886e-01
min    1.000000e+00       1.000000e+00  0.000000e+00
25%    1.353000e+04       3.000000e+00  0.000000e+00
50%    2.525600e+04       6.000000e+00  1.000000e+00
75%    3.793500e+04       1.100000e+01  1.000000e+00
max    4.968800e+04       1.450000e+02  1.000000e+00

### 4.6 Task

#### 1. Merge df_ords & df_ords_prior

In [68]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

#### 2.  Export the merged file in pickle format as “orders_products_combined.pkl”.

In [81]:
df_merged_large.to_pickle(os.path.join(project_path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))