### Exercise 4.7 Deriving New Variables

In [8]:
import pandas as pd
import numpy as np
import os

In [5]:
project_path = r'C:\Users\cneva\06-2024 Instacart Basket Analysis'
df_ords_prods = pd.read_pickle(os.path.join(project_path,'02 Data', 'Prepared Data', 'orders_and_products_merged_2.pkl'))

In [12]:
df_ords_prods.shape

(32404859, 14)

In [14]:
df_ords_prods_short = df_ords_prods[:1000000]

In [16]:
df_ords_prods_short.shape

(1000000, 14)

#### If-Statements with User-Defined Functions

In [82]:
# Define a function using if statements that categorizes products by the price 
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else: return 'Not enough data'

In [84]:
# Apply the price_range function on newly created column price_range
# axis = 1 = apply function on all rows, axis = 0 = apply function on all columns
df_ords_prods_short['price_range'] = df_ords_prods_short.apply(price_label, axis = 1)

C:\Users\cneva\AppData\Local\Temp\ipykernel_11184\2264954336.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ords_prods_short['price_range'] = df_ords_prods_short.apply(price_label, axis = 1)

In [85]:
df_ords_prods_short.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,price_range_loc
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Mid-range product
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Mid-range product
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Low-range product
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Low-range product
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Low-range product

In [37]:
df_ords_prods_short['price_range'].value_counts(dropna = False)

price_range
Mid-range product    685608
Low-range product    314392
Name: count, dtype: int64

#### If-Statements with the loc() Function

In [125]:
df_ords_prods_short.loc[df_ords_prods['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [129]:
df_ords_prods_short.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5) , 'price_range_loc'] = 'Mid-range product'

In [133]:
df_ords_prods_short.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [121]:
df_ords_prods_short['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    685608
Low-range product    314392
Name: count, dtype: int64

##### If-Statements with For-Loops

In [139]:
# create empty list to store results of the for look
result = []

# loop through each value/row in 'prices' and store result in list
for x in df_ords_prods_short['prices']:
    if x <= 5:
        result.append('Low-range product')
    elif x <= 15 and x > 5:
        result.append('Mid-range product')
    elif x > 15:
        result.append('High-range product')
    else:
        'Not enough data'

In [141]:
# create new column using the result list
df_ords_prods_short['price_range_for'] = result

C:\Users\cneva\AppData\Local\Temp\ipykernel_11184\2074682949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ords_prods_short['price_range_for'] = result

#### 4.7 Task

##### 1.  If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

In [189]:
# create price categories using .loc
df_ords_prods.loc[df_ords_prods['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [179]:
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5) , 'price_range_loc'] = 'Mid-range product'

In [181]:
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [185]:
df_ords_prods['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [191]:
# create busiest_day categories using for loop
df_ords_prods['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [197]:
# create list to store results
busy_result = []

# loop through orders_day_of_week and assign busy category
for x in df_ords_prods['orders_day_of_week']:
    if x == 0:
        busy_result.append('Busiest day')
    elif x == 4:
        busy_result.append('Least busy')
    else:
        busy_result.append('Regularly busy')

In [199]:
# create busy column using list
df_ords_prods['busiest_day'] = busy_result

In [201]:
df_ords_prods['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

##### 2.  Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [231]:
# create list to store results
busy_result_2 = []

# loop through orders_day_of_week and assign busy category
for x in df_ords_prods['orders_day_of_week']:
    if x == 0 or x == 1:
        busy_result_2.append('Busiest days')
    elif x == 4 or x == 3:
        busy_result_2.append('Least busy days')
    else:
        busy_result_2.append('Regularly busy days')

In [232]:
# create busy column using list
df_ords_prods['busiest_day_2'] = busy_result_2

##### 3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [237]:
df_ords_prods['busiest_day_2'].value_counts(dropna = False)

busiest_day_2
Regularly busy days    12916111
Busiest days           11864412
Least busy days         7624336
Name: count, dtype: int64

#####   - The distribution between the buckets are more even because the number of days within each category has been spread; 1 day, 1 day, 5 days vs 2 days, 2 days, 3 days. We expect the Regularly busy days to be the most because it's 3 days.  And we expect the Busiest days to be more than least busy days because obviously there would be more orders therefore more observations.

##### 4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [245]:
# identify the hours when most  busy
df_ords_prods['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

###### 8-hour buckets: 
###### Most orders -    8 - 16
###### Average orders -  17 - 23
###### Fewest orders -  0 - 7

In [258]:
# check if buckets make sense
df_ords_prods[(df_ords_prods['order_hour_of_day'] >= 0) & (df_ords_prods['order_hour_of_day'] < 8)].shape

(1777875, 17)

In [260]:
df_ords_prods[(df_ords_prods['order_hour_of_day'] >= 8) & (df_ords_prods['order_hour_of_day'] < 17)].shape

(22836189, 17)

In [262]:
df_ords_prods[(df_ords_prods['order_hour_of_day'] >= 17) & (df_ords_prods['order_hour_of_day'] < 24)].shape

(7790795, 17)

In [264]:
# Most orders = order_hour_of_day >= 8, < 17
df_ords_prods.loc[(df_ords_prods['order_hour_of_day'] >= 8) & (df_ords_prods['order_hour_of_day'] < 17) , 'busiest_period_of_day'] = 'Most orders'

In [266]:
# Average orders = order_hour_of_day >= 17, < 24
df_ords_prods.loc[(df_ords_prods['order_hour_of_day'] >= 17) & (df_ords_prods['order_hour_of_day'] < 24) , 'busiest_period_of_day'] = 'Average orders'

In [268]:
# Fewest orders = order_hour_of_day >= 0, < 7
df_ords_prods.loc[(df_ords_prods['order_hour_of_day'] >= 0) & (df_ords_prods['order_hour_of_day'] < 8) , 'busiest_period_of_day'] = 'Fewest orders'

##### 5. Print the frequency for this new column.

In [274]:
df_ords_prods['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       22836189
Average orders     7790795
Fewest orders      1777875
Name: count, dtype: int64

In [287]:
df_ords_prods.head(1)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_day_2,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders

##### 6.  Ensure your notebook is clean and structured and that your code is well commented.

In [290]:
df_ords_prods.to_pickle(os.path.join(project_path, '02 Data', 'Prepared Data', 'ords_prods_3.pkl'))

##### 7.  Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

##### 8.  Save your notebook and submit it to your tutor for review.